<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Hello</title>
  </head>
  <body>
    <div>
      <h1>Hello, {{.Name}}!</h1>
      <p>Here are numbers from 1 to 10:</p>
      <ul>
        {{range .Numbers}}
        <li>
          {{if (isEven .) }}
          <b>{{.}}</b>
          {{else}}
          {{.}}
          {{end}}
        </li>
        {{end}}
      </ul>
    </div>
    <div>
      <form action="robot_part_search" method="get">
        Search for robot by name: <input type="text" name="robotName" size="30"/>
        <input type="submit"/>
      </form>
    </div>
  </body>
</html>
